
<h3>Create Note</h3>

  <form action="<%= notes_url %>" method="post">
    <input type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token  %>">

      <input type="hidden"
        name="notes[track_id]"
        value="<%= @track.id  %>">

    <label for="notes_track_notes">Notes
      <br>
      <textarea name="notes[track_notes]" id="notes_track_notes"><%=  %></textarea>
    </label><br><br>

    <button>Create Note</button>

  </form>
